<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
    body {
        background-image: url('Assets/images/bg1.jpg');
        background-size: cover;
        
      }
    </style>
<div style="display:table">
    <div class="design" style="display:table-cell; vertical-align:top;">
      <br>
  <h3 style="color:darkslategrey;   padding-left: 30px;">Services:</h3>
  <h4 style="padding-left: 30px;">Design and development:</h4>
  <ul>
    <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I can develop web applications using java technology and python. </li>
    <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I will complete the development within the time commitment.</li>
  </ul>
    </div>
  </div>
  <div style="display:table">
    <div class="design" style="display:table-cell; vertical-align:top;">
      <br>
  <h4 style="padding-left: 30px;">Remote work and freelancer</h4>
  <ul>
    <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I can work remotely and can take projects anywhere from the world. </li>
    <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">Priortize the work and complete within the time commitment.</li>
  </ul>
    </div>
  </div>

      

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>