<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
body {
  background-image: url('Assets/images/bg1.jpg');
  background-size: cover;
  
}
</style>
<div style="display:table">
  <div class="design" style="display:table-cell; vertical-align:top;">
    <br>
<h3 style="padding-left: 100px;">About Me :)</h3><br>
<ul>
  <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">My name is niyanta siddhapura</li>
  <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I am basically from Anand, known as 'Milk city' of india.</li>
 <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I have completed my bachelors in computer engineering.</li>
 <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue;">I have worked as a software developer at ahmedabad india for almost 2 years.</li>
  <br><li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue;">I am really pationate to learn something new and update my self with new technologies.</li>
 <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue;">I am interested in making applications which will serve others and add value to their life.</li>
 <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: blue;">You can download my resume from here: <a href="Assets/images/resume.pdf" target="_blank">Resume</a></li>
</ul>
  </div>
  <div classstyle="display:table-cell;float:right;">
    <img src="Assets/images/myimage.jpg"  width="500" hight="500" style="padding-left: 100px; padding-top: 50px;"/>
  </div>
</div>


  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>