<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
body {
    background-image: url('Assets/images/bg1.jpg');
    background-size: cover;
    
  }
</style>

<div style="display:table">
    <div class="design" style="display:table-cell; vertical-align:top;">
      <br>
  <h3 style="color:darkslategrey;   padding-left: 100px;">My Projects:</h3><br>
  <h4 style="padding-left: 100px;">Project:1</h4>
  <ul>
    <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">The name of the project is E-Noticeboard.</li>
    <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">This project i completed during my graduation years.</li>
   <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">I have completed my bachelors in computer engineering.</li>
   <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue;">It is an android application having facilities to handle the notice boards of the colleges.</li>
  </ul>
    </div>
    <div classstyle="display:table-cell;float:right;">
      <img src="Assets/images/project1.png"  width="250" hight="250" style="padding-left: 100px; padding-top: 100px;"/>
    </div>
  </div>

  
  <div style="display:table">
    <div class="design" style="display:table-cell; vertical-align:top;">
      <br>
  
  <h4 style="padding-left: 100px;">Project:2</h4>
  
  <ul>
    <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">The name of Handwriting detector.</li>
    <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">This project is based on the artificial intelligence.</li>
   <br> <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">This project is useful to detect the handwritings of important documents and old books.</li>
  </ul>
    </div>
    <div classstyle="display:table-cell;float:left;">
        <img src="Assets/images/project2.jpeg"  width="300" hight="300" style="padding-left: 100px; padding-top: 20px;"/>
      </div>
  </div>

  <div style="display:table">
    <div class="design" style="display:table-cell; vertical-align:top;">
      <br>
  
  <h4 style="padding-left: 100px;">Project:3</h4>
  
  <ul>
    <li style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: darkblue">The name of Tech analytic.</li>
    <br><li style="font-family:Verdana, Geneva, Tahoma, sans-serif; color: darkblue">It is a very useful business analysis tool made using Artificial intelligence and big data.</li>
    <br>
    <br>
  </ul>
    </div>
    <div classstyle="display:table-cell;float:left;">
        <img src="Assets/images/project3.png
        "  width="300" hight="300" style="padding-left: 100px; padding-top: 20px;"/>
      </div>
  </div>
  

  
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>